In [2]:
import pandas as pd
df = pd.DataFrame([[9,4,8,9],
                  [8,10,7,6],
                  [7,6,8,5]],
                 columns=['Maths','English','Science','History'])
print(df)
print(df.sum())
print(df.describe())
print(df.agg([sum,min,max]))
print(df.groupby(by=['Maths']))
a = df.groupby('Maths')
print(a.first())

   Maths  English  Science  History
0      9        4        8        9
1      8       10        7        6
2      7        6        8        5
Maths      24
English    20
Science    23
History    20
dtype: int64
       Maths    English   Science   History
count    3.0   3.000000  3.000000  3.000000
mean     8.0   6.666667  7.666667  6.666667
std      1.0   3.055050  0.577350  2.081666
min      7.0   4.000000  7.000000  5.000000
25%      7.5   5.000000  7.500000  5.500000
50%      8.0   6.000000  8.000000  6.000000
75%      8.5   8.000000  8.000000  7.500000
max      9.0  10.000000  8.000000  9.000000
     Maths  English  Science  History
sum     24       20       23       20
min      7        4        7        5
max      9       10        8        9
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000015ADA0A0A60>
       English  Science  History
Maths
7            6        8        5
8           10        7        6
9            4        8        9

In [3]:
#tims series operations
#example 1
import pandas as pd
from datetime import datetime
import numpy as np

range_date = pd.date_range(start='1/1/2019',end='1/08/2019', freq='Min')
print(range_date)

#example 2

import pandas as pd
from datetime import datetime
import numpy as np

range_date = pd.date_range(start='1/1/2019', end='1/08/2019',ferq='Min')
df = pd.DataFrame(range_date, columns=['date'])
df['data']= np.random.randint(0,100,size=(len(range_date)))
string_data= [str(x) for x in range_date]
print(string_data[1:11])

DatetimeIndex(['2019-01-01 00:00:00', '2019-01-01 00:01:00',
               '2019-01-01 00:02:00', '2019-01-01 00:03:00',
               '2019-01-01 00:04:00', '2019-01-01 00:05:00',
               '2019-01-01 00:06:00', '2019-01-01 00:07:00',
               '2019-01-01 00:08:00', '2019-01-01 00:09:00',
               ...
               '2019-01-07 23:51:00', '2019-01-07 23:52:00',
               '2019-01-07 23:53:00', '2019-01-07 23:54:00',
               '2019-01-07 23:55:00', '2019-01-07 23:56:00',
               '2019-01-07 23:57:00', '2019-01-07 23:58:00',
               '2019-01-07 23:59:00', '2019-01-08 00:00:00'],
              dtype='datetime64[ns]', length=10081, freq='T')

TypeError: _generate_range() got an unexpected keyword argument 'ferq'

In [4]:
#pivot and melt function
import pandas as pd

data = {'City':['Pune','Satara','Solapur'],'ID':[1,2,3],'Fav':['1','3','10']}
dataf=pd.DataFrame(data)
print('Before melting..')
print(dataf)

melt_df = pd.melt(dataf, id_vars=['ID'],value_vars=['City','Fav'])
print('After melting..')
print(melt_df)

import pandas as pd
data = {'City':['Pune',"Satara", "Solapur"], "ID": [1, 2, 3], "Fav": ["1", "3", "10"]}

dataf = pd.DataFrame(data)
print('Before melting..')
print(dataf)

melt_df = pd.melt(dataf, id_vars=['ID'], value_vars=['City','Fav'],var_name='Expression',value_name='Value')
print('After melting..')
print(melt_df)

unmelt = melt_df.pivot(index="ID",columns='Expression')
print('Post unmelting..')
print(unmelt)

Before melting..
      City  ID Fav
0     Pune   1   1
1   Satara   2   3
2  Solapur   3  10
After melting..
   ID variable    value
0   1     City     Pune
1   2     City   Satara
2   3     City  Solapur
3   1      Fav        1
4   2      Fav        3
5   3      Fav       10
Before melting..
      City  ID Fav
0     Pune   1   1
1   Satara   2   3
2  Solapur   3  10
After melting..
   ID Expression    Value
0   1       City     Pune
1   2       City   Satara
2   3       City  Solapur
3   1        Fav        1
4   2        Fav        3
5   3        Fav       10
Post unmelting..
              Value
Expression     City Fav
ID
1              Pune   1
2            Satara   3
3           Solapur  10

In [6]:
#map, filter, reduce and lamnbda functions with pandas dataframe
#01create a pandas DataFrame
import pandas as pd
import numpy as np
technologies={
    'Fee':[22000,25000,23000,np.NaN,26000],
    'Duration' :['30Days','50Days','30Days','35Days','40Days']
}
df=pd.DataFrame(technologies)
print(df)

#using lambda function
df['Fee']=df['Fee'].map(lambda x:x-(x*10/100))
print(df)


#02
import numpy as np
import pandas as pd
df = pd.DataFrame(np.array(([2,3,4],[5,6,7])),
                 index = ['tiger','lion'],
                 columns = ['one','two','three'])
print(df.filter(items=['one','three']))
print(df.filter(regex='e$',axis=1))

#03
import pandas as pd
data = [11, 6, 7, 3, 28, 1]
series = pd.Series(data)
print(series)

import functools
product = functools.reduce(lambda x,y : x*y,series)
print("Product:",product,sep="  ")

import pandas as pd
values = [['Rohan', 455], ['Elvish', 250], ['Deepak', 495],
          ['Soni', 400], ['Radhika', 350], ['Vansh', 450]]

df = pd.DataFrame(values, columns=['Name', 'Total_Marks'])
df = df.assign(Percentage=lambda x: (x['Total_Marks'] / 500 * 100))
print(df)

       Fee Duration
0  22000.0   30Days
1  25000.0   50Days
2  23000.0   30Days
3      NaN   35Days
4  26000.0   40Days
       Fee Duration
0  19800.0   30Days
1  22500.0   50Days
2  20700.0   30Days
3      NaN   35Days
4  23400.0   40Days
       one  three
tiger    2      4
lion     5      7
       one  three
tiger    2      4
lion     5      7
0    11
1     6
2     7
3     3
4    28
5     1
dtype: int64
Product:  38808
      Name  Total_Marks  Percentage
0    Rohan          455        91.0
1   Elvish          250        50.0
2   Deepak          495        99.0
3     Soni          400        80.0
4  Radhika          350        70.0
5    Vansh          450        90.0